# Mini-projet Pandas – Étape 1 : Audit des données

**Objectif :** Charger les jeux de données EduMart et évaluer leur qualité
(types, valeurs manquantes, incohérences et anomalies potentielles).

In [162]:
# Import des bibliothèques
import pandas as pd
import numpy as np

In [163]:
# Import des données
customers = pd.read_csv("../data/raw/customers.csv")
order_lines = pd.read_csv("../data/raw/order_lines.csv")
products = pd.read_csv("../data/raw/products.csv")

In [164]:
# Inspection des données
# Un apercu des lignes
customers.head()
order_lines.head()
products.head()

  product_id    category    brand      product_name  unit_price
0       P001      Laptop       HP      Ultrabook 14     1681.08
1       P002      Laptop     ASUS       Notebook 15     1058.14
2       P003       Livre  Manning  Data Engineering       40.16
3       P004  Accessoire    Anker       SSD externe       91.27
4       P005      Laptop       HP         Gaming 16     1123.49

# Dimention des datasets

In [165]:
customers.shape

(500, 6)

In [166]:
order_lines.shape

(2225, 18)

In [167]:
products.shape

(60, 5)

# Informations générales

In [168]:
print(products.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   product_id    60 non-null     object
 1   category      60 non-null     object
 2   brand         60 non-null     object
 3   product_name  60 non-null     object
 4   unit_price    60 non-null     float64
dtypes: float64(1), object(4)
memory usage: 2.5+ KB
None

In [169]:
print(customers.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   customer_id  500 non-null    object
 1   age          500 non-null    object
 2   gender       490 non-null    object
 3   city         485 non-null    object
 4   segment      500 non-null    object
 5   signup_date  500 non-null    object
dtypes: object(6)
memory usage: 23.6+ KB
None

In [170]:
print(order_lines.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2225 entries, 0 to 2224
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_id          2225 non-null   object
 1   customer_id       2225 non-null   object
 2   product_id        2225 non-null   object
 3   order_date        2225 non-null   object
 4   quantity          2225 non-null   int64
 5   unit_price        2225 non-null   float64
 6   discount_pct      2225 non-null   float64
 7   gross_amount      2225 non-null   float64
 8   net_amount        2225 non-null   float64
 9   payment_method    2225 non-null   object
 10  channel           2225 non-null   object
 11  marketing_source  2225 non-null   object
 12  delivery_days     2181 non-null   float64
 13  returned          2225 non-null   int64
 14  review_score      2115 non-null   float64
 15  segment           2225 non-null   object
 16  city              2155 non-null   object
 17  category          2225 non-null   object
dtypes: float64(6), int64(2), object(10)
memory usage: 313.0+ KB
None

# Les statistiques descriptives

In [171]:
customers.describe(include="all")

       customer_id  age gender            city   segment signup_date
count          500  500    490             485       500         500
unique         500   36      3              16         4         386
top          C0001   16      F  Port-au-Prince  Étudiant  2024-07-25
freq             1   40    235             135       182           3

In [172]:
products.describe(include = "all")

       product_id category brand product_name   unit_price
count          60       60    60           60    60.000000
unique         60        6    23           28          NaN
top          P001    Cours    HP          NLP          NaN
freq            1       18     6            5          NaN
mean          NaN      NaN   NaN          NaN   354.351000
std           NaN      NaN   NaN          NaN   514.712694
min           NaN      NaN   NaN          NaN    24.970000
25%           NaN      NaN   NaN          NaN    72.845000
50%           NaN      NaN   NaN          NaN   124.245000
75%           NaN      NaN   NaN          NaN   308.502500
max           NaN      NaN   NaN          NaN  1932.530000

In [173]:
order_lines.describe(include = "all")

,order_id,customer_id,product_id,order_date,quantity,unit_price,discount_pct,gross_amount,net_amount,payment_method,channel,marketing_source,delivery_days,returned,review_score,segment,city,category
count,2225,2225,2225,2225,2225.000000,2225.000000,2225.000000,2225.000000,2225.000000,2225,2225,2225,2181.000000,2225.000000,2115.000000,2225,2155,2225
unique,2200,492,60,683,NaN,NaN,NaN,NaN,NaN,4,3,6,NaN,NaN,NaN,4,16,6
top,O01648,C0363,P060,2025-01-12,NaN,NaN,NaN,NaN,NaN,Carte,Web,Organique,NaN,NaN,NaN,Étudiant,Port-au-Prince,Cours
freq,2,12,52,10,NaN,NaN,NaN,NaN,NaN,895,1218,646,NaN,NaN,NaN,805,600,705
mean,NaN,NaN,NaN,NaN,2.966292,354.163991,0.115097,1049.257438,926.902701,NaN,NaN,NaN,4.112334,0.042247,4.357447,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,1.426634,506.596786,0.068481,1711.115156,1510.243744,NaN,NaN,NaN,4.584551,0.201198,0.595541,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,-1.000000,24.970000,0.000000,24.970000,20.110000,NaN,NaN,NaN,0.000000,0.000000,2.000000,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,2.000000,74.300000,0.060000,158.910000,143.730000,NaN,NaN,NaN,1.000000,0.000000,4.000000,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,3.000000,125.590000,0.110000,362.580000,314.530000,NaN,NaN,NaN,3.000000,0.000000,4.000000,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,4.000000,308.720000,0.160000,898.300000,796.500000,NaN,NaN,NaN,6.000000,0.000000,5.000000,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,5.000000,1932.530000,0.300000,9662.650000,9179.520000,NaN,NaN,NaN,45.000000,1.000000,5.000000,NaN,NaN,NaN

## Problèmes de qualité identifiés

- Présence de valeurs manquantes dans certaines variables sociodémographiques
  (ex : genre(gender), ville(city)).
- La variable `age` contient des valeurs non numériques (ex : "unknown").
- La variable `discount_pct` semble contenir des valeurs stockées sous forme de texte.
- Des quantités négatives ou nulles sont observées dans `quantity`, ce qui constitue
  une anomalie.
- Les délais de livraison présentent des valeurs manquantes et potentiellement extrêmes.

# Mini-rapport d’audit des données

Les trois jeux de données ont été chargés et inspectés à l’aide de la méthode
DataFrame.info().

Le fichier products.csv (60 observations, 5 variables) présente une structure
propre, sans valeurs manquantes et avec des types cohérents. Il est directement
exploitable pour l’analyse.

Le fichier customers.csv (500 observations, 6 variables) contient des anomalies
de qualité : les variables age et signup_date sont stockées sous forme de texte
et devront être converties en types numériques et date. Des valeurs manquantes sont
également observées pour gender (10 cas) et city (15 cas).

Le fichier order_lines.csv (2 225 lignes, 18 variables) constitue la table
transactionnelle principale. Certaines variables nécessitent un traitement
ultérieur, notamment order_date (conversion en date) et la gestion de valeurs
manquantes pour delivery_days, review_score et city. Les montants financiers
sont déjà numériques, ce qui permettra un contrôle de cohérence après jointure.

Globalement, les données sont exploitables mais requièrent un nettoyage et des
conversions de types avant les analyses avancées.